@use 'variables' as global;

.edu-list-item {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  row-gap: global.$listItemRowGap;
}
