.section-footer {
  background: var(--app-background-primary);
}

.section-container {
  padding-top: 99px;
  padding-bottom: 29px;
  justify-content: space-between;
}

.section-footer-item {
  display: flex;
}

p {
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-top: 28px;
  color: var(--app-color-light-tint) !important;
}
