.tabbar-container {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: var(--app-color-foggy);
}

.tabbar-header {
  min-height: 3rem;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 12px var(--app-color-medium-tint);
  background-color: var(--app-color-steam-tint);
}

.tabbar-main {
  flex: 1;
  overflow-y: auto;
  padding-inline-start: 16px;
  padding-inline-end: 17px;
}

.tabbar-footer {
  min-height: 3.9rem;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 12px var(--app-color-medium-tint);
  background-color: var(--app-color-steam);
}
