<ng-container *ngIf="vm$ | async as vm">
  <edu-tabbar-template>
    <div slot="header" class="flex justify-between">
      <div class="col-4"></div>
      <div class="justify-center col-4"></div>

      <edu-search-box [control]="searchField" class="col-4"></edu-search-box>
    </div>

    <edu-group-list [houseFactors]="vm.filteredFactors" [cardActions]="cardActions"></edu-group-list>

    <div slot="footer" class="flex justify-center">
      <button class="edu-button">New Template</button>
    </div>
  </edu-tabbar-template>
</ng-container>
