@use 'variables' as global;

.card-info-container {
  color: var(--app-color-light-tint);
}

.card-info-icon {
  margin-bottom: 32px;
}

.card-info-title {
  margin-bottom: 18px;
}

mat-icon {
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 106px;
}

p {
  font-size: 24px !important;
  font-weight: bold;
  line-height: 35px !important;
  color: var(--app-color-light-tint);
}

@media screen and (min-width: global.$breakpoint-md) {
  .card-info-icon {
    margin-bottom: 42px !important;
  }

  .card-info-title {
    margin-bottom: 24px !important;
  }
}
