<edu-tabbar-template>
  <div slot="header"></div>

  <edu-item-group [items]="houseFactors">
    <ng-template let-item let-i="index" let-isItemGroupOdd="isOdd">
      <edu-item-divider>
        <edu-label-info [iconStart]="'edit'" [iconEnd]="'done'"
          ><p>{{ item.factor }}</p></edu-label-info
        >
      </edu-item-divider>

      <edu-list [items]="item.labels" [className]="'flex-row gap-column-2'">
        <ng-template let-item let-i="index" let-isOdd="isOdd">
          <div class="grow-1 col-xl-5 col-12">
            <edu-action-card
              [label]="item"
              [actions]="cardActions"
              [dragable]="true"
              [class.list-item-motion]="true"
              [slotStartClass]="'grow-full col-xs-12 col-sm-8'"
              [slotEndClass]="isItemGroupOdd ? 'bg-warning' : 'bg-steam-shade'"
              (onActionClicked)="log($event, i)"
            ></edu-action-card>
          </div>
        </ng-template>

        <div class="grow-1 col-xl-5"></div>
      </edu-list>
    </ng-template>
  </edu-item-group>

  <div slot="footer"></div>
</edu-tabbar-template>
