<app-item-group [items]="houseFactors">
  <ng-template let-item let-i="index">
    <p>{{ item.factor }}</p>

    <app-edu-list [items]="item.labels">
      <ng-template let-item let-i="index" let-isOdd="isOdd">
        <app-action-card
          [label]="item"
          [actions]="cardActions"
          [dragable]="true"
          [class.list-item-motion]="true"
          [slotStartClass]="'col-xs-8 col-10'"
          [slotEndClass]="'bg-warning col-xs-12 col-sm-4 col-ms-4 col-2'"
          (onActionClicked)="log($event, i)"
        ></app-action-card>
      </ng-template>
    </app-edu-list>
  </ng-template>
</app-item-group>
