.action-card-container {
  overflow: hidden;
  flex-wrap: wrap;
}

.action-card-item {
  display: flex;
  align-items: center;
}

.action-card-text {
  white-space: nowrap;
  padding: 9px 13px;
}

.action-card-btn-wrapper {
  display: flex;
  justify-content: end;
}

.action-card-holder {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 6px 0px;
  gap: 0.1rem;
}

.btn-wrapper {
  height: 100%;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.testi {
  font-size: 100px;
}

.icon-wrapper {
  display: flex;
}

.vertical-divider {
  width: 0.1rem;
  border-radius: 1px;
  height: 100%;
  background-color: var(--app-color-medium);
  opacity: 0.5;
}

mat-icon {
  font-size: 1.3rem !important;
}
