/** app-color select by css name **/

.primary {
  color: var(--app-color-primary) !important;
}

.secondary {
  color: var(--app-color-secondary);
}

.light {
  color: var(--app-color-light);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
