a {
  text-decoration: none !important;
}

h1 {
  font-family: obvia-expanded !important;
  line-height: 32px;
}

h2 {
  font-family: obvia-expanded !important;
  line-height: 26px;
  color: var(--app-color-primary);
}

h3 {
  font-family: obvia-expanded !important;
  line-height: 26px;
  color: var(--app-color-light-blue);
}

p {
  font-size: 16px !important;
  line-height: 16px !important;
  color: var(--app-color-medium);
}

@media screen and (min-width: $breakpoint-md) {
  h1 {
    font-size: 47px !important;
    margin-bottom: 35px !important;
    line-height: 47px;
  }

  h2 {
    font-size: 45px !important;
    margin-bottom: 24px !important;
    line-height: 26px;
  }

  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}
