a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
  line-height: 32px !important;
}

h1 {
  font-family: obvia-expanded !important;
}

h2 {
  font-family: obvia-expanded !important;
  margin-bottom: 0px !important;
  line-height: 26px;
  color: var(--app-color-primary);
}

h3 {
  font-family: obvia-expanded !important;
  color: var(--app-color-light-blue);
}

p {
  font-size: 16px !important;
  line-height: 16px !important;
  color: var(--app-color-medium);
}

@media screen and (min-width: $breakpoint-md) {
  h1 {
    font-size: 32px !important;
    line-height: 48px !important;
  }

  h2 {
    font-size: 28px !important;
    line-height: 32px !important;
    margin-bottom: 16px !important;
  }

  h3 {
    font-size: 26px !important;
    line-height: 28px;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  h1 {
    font-size: 47px !important;
    line-height: 70px;
  }

  h2 {
    font-size: 45px !important;
    line-height: 70px;
  }

  h3 {
    font-size: 38px !important;
    line-height: 51px;
  }
}
