@use 'variables' as global;

@forward 'sections';
@forward 'cell-size';
@forward 'atomic';
@forward 'text';

.button-responsive {
  height: auto !important;
  border-radius: 52px !important;
  line-height: 36px !important;
  font-family: AppFont !important;
  padding: 7px 16px !important;
}

.planet {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: global.$breakpoint-sm) {
  .button-responsive {
    font-size: 21px;
    padding: 11px 25px !important;
  }
}

@media screen and (min-width: global.$breakpoint-md) {
  .button-responsive {
    font-size: 28px;
    padding: 15px 32px !important;
  }
}

@media screen and (min-width: global.$breakpoint-xl) {
  .button-responsive {
    font-size: 36px;
    padding: 20px 54px !important;
    line-height: 50px;
  }
}
