@use 'variables' as global;

@forward 'sections';
@forward 'cell-size';
@forward 'atomic';
@forward 'text';

.button-responsive {
  font-family: var(--app-font-family) !important;
  height: auto !important;
  border-radius: 3rem !important;
  font-size: 2.25rem !important;
  line-height: 3rem !important;
  letter-spacing: 0rem;
  padding: 1.25rem 3.37rem !important;
}

.planet {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: global.$breakpoint-sm) {
  .button-responsive {
    // font-size: 21px;
    // padding: 11px 25px !important;
  }

  .planet {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: global.$breakpoint-md) {
  .button-responsive {
    // font-size: 28px;
    // padding: 15px 32px !important;
  }

  .planet {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: global.$breakpoint-lg) {
  .planet {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: global.$breakpoint-xl) {
  .planet {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: global.$breakpoint-xxl) {
  .planet {
    width: 350px;
    height: 350px;
  }
}
