<div class="section-container">
  <div class="flex-container">
    <div class="text-center planet-container col-xs-4 col-md-5 col-xl-6">
      <img src="../../../../../assets/images/sat2.png" class="max-width" />
    </div>

    <div class="col-6 col-s-12">
      <h2 color="primary">Lorem ipsum on lihtsalt</h2>

      <p>
        We smartly combine engineering processes and knowledge gained over several decades by the space sector with
        innovative NewSpace approaches to offer our customers affordable, quick-to-market and reliable solutions. Our
        partners and customers are international agencies like ESA and the European Commission, national Governments and
        Institutions and a variety of commercial customers.
      </p>
    </div>
  </div>
</div>
