<edu-item-group [items]="tasks">
  <ng-template let-item let-i="index" let-isItemGroupOdd="isOdd">
    <edu-item-divider>
      <edu-label-info>
        <p>{{ item.label }}</p>
      </edu-label-info>
    </edu-item-divider>

    <edu-list [items]="item.tasks" [className]="'flex-row gap-column-2'">
      <ng-template let-item let-i="index" let-isOdd="isOdd">
        <div class="list-item-motion grow-1 col-12 col-xl-5">
          <edu-advanced-card
            [label]="item.name"
            [subject]="item.subject"
            [description]="item.description"
            [actions]="cardActions"
            [slotStartClass]="'col-xs-12 col-sm-9 col-xl-12 col-xxl-8 cursor-pointer'"
            [slotEndClass]="isItemGroupOdd ? 'bg-success' : 'bg-steam-shade'"
            (onActionClicked)="log($event, i)"
          >
            <!-- right box-->
            <edu-label-info
              slot="rightBox"
              [className]="'col-2 col-xl-1 flex-col min-h-3 align-end justify-between text-xs'"
              [classIconStart]="'flex-1' + (item?.toDo !== '' ? ' primary' : '')"
              [iconStart]="item?.icon"
            >
              <h4 class="three-dot">{{ item.responsible }}</h4>
            </edu-label-info>

            <!-- expanded box -->
            <div slot="expanded" class="flex justify-between">
              <div class="col-4">
                <h3>Start</h3>
                <h4>{{ item.start }}</h4>
              </div>
              <div class="col-4">
                <h3>ToDo</h3>
                <h4>{{ item.toDo }}</h4>
              </div>
              <div class="col-4 flex flex-col align-end">
                <h3>Responsible</h3>
                <h4>{{ item.responsible }}</h4>
              </div>
            </div>
          </edu-advanced-card>
        </div>
      </ng-template>

      <div class="grow-1 col-xl-5"></div>
    </edu-list>
  </ng-template>
</edu-item-group>
