@use 'variables' as global;

:host {
  display: flex;
}

.edu-mat-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  padding: 60px 40px 27px 50px;
  background: var(--app-background-primary);
  color: var(--app-color-light-tint) !important;
}

.edu-mat-card-title {
  height: 212px;
  text-align: center;
  overflow: hidden;

  mat-icon {
    width: 5.44rem;
    height: 5.44rem;
    color: var(--app-color-light) !important;
  }
}

mat-card-title {
  font-family: AppFont;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 25px;
  -webkit-line-clamp: 2 !important;
}

mat-card-content {
  font-size: 1.12rem;
  line-height: 1.63rem;
  padding: 0px !important;
  color: var(--app-color-light-shade) !important;
  -webkit-line-clamp: 5 !important;
}

mat-card-footer {
  font-size: 1.13rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

@media screen and (min-width: global.$breakpoint-md) {
  .edu-mat-card {
    padding: 65px 47px 43px 55px;
  }
}

@media screen and (min-width: global.$breakpoint-lg) {
  .edu-mat-card {
    padding: 79px 53px 37px 67px;
  }
}
