<mat-card class="edu-mat-card">
  <div>
    <div class="edu-mat-card-title">
      <mat-icon [svgIcon]="iconName" *ngIf="iconName"></mat-icon>
      <mat-card-title class="three-dot">{{ title }}</mat-card-title>
    </div>
  </div>

  <mat-card-content class="three-dot">{{ content }}</mat-card-content>

  <mat-card-footer class="col-xs-12 col-sm-6">
    Read More
    <mat-card-actions align="end">
      <button mat-icon-button [routerLink]="link">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
