<div class="section-container">
  <app-section-divider></app-section-divider>

  <app-content-holder
    [title]="data.title"
    [subTitle]="data.subTitle"
    [content]="data.content"
    [alignCenter]="true"
  ></app-content-holder>

  <div class="gap-row"></div>

  <app-slide-show [items]="items" [options]="options">
    <ng-template let-item>
      <app-card
        [title]="item.title"
        [content]="item.content"
        [iconName]="item.icon"
        [link]="item.link"
        class="card-slide"
      ></app-card>
    </ng-template>
  </app-slide-show>
</div>
