<edu-card-wrapper *ngIf="!isCardExpanded">
  <div slot="start" [ngClass]="slotStartClass" class="ad-card-item">
    <edu-check-button></edu-check-button>

    <div (click)="expandCard()" class="flex flex-1 align-center h-full">
      <h2 class="three-dot text-noselect ad-card-text">{{ label }}</h2>
    </div>
  </div>

  <div slot="end" [ngClass]="slotEndClass" class="ad-card-btn-wrapper">
    <div class="ad-card-holder cursor-default">
      <ng-content select="[slot=rightBox]"></ng-content>
    </div>
  </div>
</edu-card-wrapper>

<edu-card-wrapper *ngIf="isCardExpanded">
  <div slot="start" class="flex">
    <edu-check-button></edu-check-button>

    <div (click)="expandCard()" class="ad-card-expand cursor-pointer">
      <h4 class="text-noselect">{{ subject }}</h4>
      <h5 class="text-noselect">{{ description }}</h5>
    </div>
  </div>

  <div slot="end" [ngClass]="slotEndClass" class="ad-expanded-box">
    <div class="flex-1 cursor-default">
      <ng-content select="[slot=expanded]"></ng-content>
    </div>
  </div>
</edu-card-wrapper>
