.item-divider {
  margin-top: 11px;
}

.row-divider {
  height: 0.4rem;
  margin-top: 11px;
  margin-bottom: 10px;
  background: var(--app-color-steam-tint) 0% 0% no-repeat padding-box;
  box-shadow: inset 1px 1px 1px #00000040;
  border-radius: 4px;
}
