<mat-toolbar class="app-toolbar" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.isMobile">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>

  <svg-icon src="assets/images/svgs/astronut.svg"></svg-icon>

  <div class="nav-link-container" *ngIf="!vm.isMobile">
    <ng-container *ngFor="let option of options">
      <a [routerLink]="[option.link]">
        <span>{{ option.name }}</span>
        <span class="dot" routerLinkActive="active-route"></span>
      </a>
    </ng-container>

    <svg-icon src="assets/images/svgs/icone-language.svg" class="icone-language"></svg-icon>
  </div>
</mat-toolbar>
