<mat-toolbar class="app-toolbar">
  <ng-container *ngIf="isMobile">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>

  <svg-icon src="assets/images/svgs/astronut.svg"></svg-icon>

  <div class="nav-link-container" *ngIf="!isMobile">
    <ng-container *ngFor="let option of options">
      <a [routerLink]="[option.link]" routerLinkActive="active-route" (click)="scrollTo(option.link)">
        <span>{{ option.name }}</span>
        <span class="dot" routerLinkActive="active-route"></span>
      </a>
    </ng-container>

    <svg-icon src="assets/images/svgs/icone-language.svg"></svg-icon>
  </div>
</mat-toolbar>
