/** app-color select by css name **/

.primary {
  color: var(--app-color-primary) !important;
}

.secondary {
  color: var(--app-color-secondary);
}

.light {
  color: var(--app-color-light);
}

.steam {
  color: var(--app-color-steam);
}

.steam-shade {
  color: var(--app-color-steam-shade);
}

.foggy {
  color: var(--app-color-foggy);
}

.danger {
  color: var(--app-color-danger);
}

.success {
  color: var(--app-color-success);
}

/** edu-background-color select by css name **/

.bg-primary {
  background-color: var(--app-color-primary) !important;
}

.bg-secondary {
  background-color: var(--app-color-secondary);
}

.bg-light {
  background-color: var(--app-color-light);
}

.bg-light-shade {
  background-color: var(--app-color-light-shade);
}

.bg-danger {
  background-color: var(--app-color-danger);
}

.bg-steam {
  background-color: var(--app-color-steam);
}

.bg-steam-shade {
  background-color: var(--app-color-steam-shade);
}

.bg-foggy {
  color: var(--app-color-foggy);
}

.bg-warning {
  background-color: var(--app-color-warning);
}

.bg-medium {
  background-color: var(--app-color-medium);
}

.bg-success {
  background-color: var(--app-color-success);
}
