.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.grow-1 {
  flex-grow: 1;
}

.gap-column-2 {
  column-gap: 2rem;
}

.flex-col {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.grow-full {
  flex-grow: 100;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end !important;
}

.items-center {
  align-items: center;
}
