.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 180px;
}

a {
  border-radius: 0px;
}

.router-link-active {
  background-color: var(--app-color-secondary-tint);
  color: var(--app-color-light) !important;
}
