@use 'variables' as global;

.section-one-container {
  height: 510px;
  background-image: url('~src/assets/images/bg-dark-sky.jpg');
  background-size: cover;
  align-items: flex-start;
}

.section-one-ccontent {
  flex: 1;
}

.section-one-action-btn {
  margin-top: 20px;
}

.flex-container {
  justify-content: end;
}

.planet-container {
  max-width: min-content;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.sat {
  position: absolute;
  right: 220px;
}

// h1,
// p {
//   color: var(--app-color-light);
// }

@media screen and (min-width: global.$breakpoint-sm) {
  .sat {
    right: 425px;
  }

  .section-one-action-btn {
    margin-top: 30px;
  }
}

@media screen and (min-width: global.$breakpoint-md) {
  // h1 {
  //   margin-bottom: 35px !important;
  // }

  // p {
  //   font-size: 18px !important;
  //   line-height: 26px !important;
  // }

  .sat {
    bottom: 50px;
    right: 500px;
  }
}

@media screen and (min-width: global.$breakpoint-lg) {
  .section-one-container {
    height: 933px;
  }

  .sat {
    right: 620px;
  }

  // p {
  //   font-size: 25px !important;
  //   line-height: 47px !important;
  // }
}

@media screen and (min-width: global.$breakpoint-xl) {
  .sat {
    right: 900px;
  }
}
