<div class="section-container section-one-container">
  <div class="flex-container">
    <div class="section-one-ccontent col-6 col-sm-12">
      <h1>{{ advertise?.title }}</h1>

      <p>{{ advertise?.content }}</p>

      <button mat-flat-button color="accent" class="button-responsive section-one-action-btn">Message</button>
    </div>

    <div class="text-center planet-container col-sm-12 col-md-10 col-6">
      <div><svg-icon src="assets/images/svgs/planet.svg" [applyClass]="true" [class]="'planet'"></svg-icon></div>
      <div class="sat">
        <app-satellite [class]="'planet'"></app-satellite>
      </div>
    </div>
  </div>
</div>
