@import 'variables.scss';

.section-one-container {
  height: 500px;
  background-image: url('../../../../../assets/images/svgs/bg-dark-sky.svg');
  background-size: cover;
  display: flex;
  align-items: flex-start;
}

.planet-container {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.sat {
  position: absolute;
  right: 350px;
}

h1,
p {
  color: var(--app-color-light);
}

@media screen and (min-width: $breakpoint-sm) {
  .section-one-container {
    height: 600px;
  }

  .sat {
    right: 425px;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .section-one-container {
    height: 700px;
  }

  .sat {
    bottom: 50px;
    right: 500px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .section-one-container {
    height: 998px;
  }

  .sat {
    right: 620px;
  }

  h1 {
    font-size: 47px !important;
    margin-bottom: 35px !important;
    line-height: 69px;
  }

  p {
    font-size: 25px !important;
    line-height: 47px !important;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .sat {
    right: 900px;
  }
}
