<div class="section-container section-one-container">
  <div class="flex-container">
    <div class="col-6 col-sm-12">
      <h1>The first provider of space systems,applications and services in Luxembourg</h1>

      <p>
        Since 2006 as part of the large network of OHB companies, LuxSpace is offering innovative and affordable
        infrastructure products and solutions for space, as well as space-augmented applications and services.
      </p>

      <button mat-flat-button color="accent" class="button-responsive section-one-action-btn">Message</button>
    </div>

    <div class="text-center planet-container col-6 col-sm-12">
      <div><svg-icon src="assets/images/svgs/planet.svg" [applyClass]="true" [class]="'planet'"></svg-icon></div>
      <div class="sat">
        <app-satellite [class]="'planet'"></app-satellite>
      </div>
    </div>
  </div>
</div>
