:host {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.edu-layout {
  height: 100vh;
  max-height: -webkit-fill-availabel;
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 3.6rem;
  display: flex;
  justify-content: center;
  background-color: var(--app-color-medium-tint);
}

.layout-container {
  overflow: hidden;
}
