<main *ngIf="vm$ | async as vm">
  <app-header [options]="vm.options" [isMobile]="vm.isMobile" (onToggleMenu)="toggleSideNav()"></app-header>

  <mat-sidenav-container class="sidenav-container" (backdropClick)="toggleSideNav()">
    <mat-sidenav mode="over" [autoFocus]="false" [opened]="vm.isSidebarCollapsed" *ngIf="vm.isMobile">
      <app-sidebar [options]="vm.options" (onToggleMenu)="toggleSideNav()"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
