:host {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.app-layout {
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  background-color: var(--app-color-medium-tint);
}

.layout-container {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
