.search-box-container {
  margin-inline-start: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
}

.content-holder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  border-radius: 60px;
  box-shadow: inset 1px 1px 1px var(--app-color-medium-shade);
}

#searchBtn {
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  width: 1px;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  opacity: 0;
}

#searchBtn:focus {
  width: 100%;
  opacity: 1;
  padding-right: 6px;
}

.content-holder:has(input[type='search']:focus) {
  padding-inline-start: 0.3rem !important;
}

label {
  position: relative;
  top: 0.17em;
  left: 0.17em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  color: rgba(218, 208, 190, 1);
  text-shadow: 0 0 0.1em rgba(60, 60, 60, 0.3);
}

.icon-search {
  color: var(--app-color-medium-shade);
  font-size: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.search-input-box {
  color: var(--app-color-medium-shade);
  font-size: 1.1rem;
}
