.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.align-items {
  align-items: center;
}

.max-width {
  max-width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}
