@forward './atomics/layout';
@forward './atomics//colors';

.cursor-default {
  cursor: cursor-default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
