@use 'variables' as global;

.section-container {
  padding-inline-start: 30px;
  padding-inline-end: 25px;
  padding-top: 44px;
  padding-bottom: 44px;
}

@media screen and (min-width: global.$breakpoint-sm) {
  .section-container {
    padding-inline-start: 60px;
    padding-inline-end: 50px;
  }
}

@media screen and (min-width: global.$breakpoint-md) {
  .section-container {
    padding-inline-start: 90px;
    padding-inline-end: 75px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: global.$breakpoint-lg) {
  .section-container {
    padding-inline-start: 120px;
    padding-inline-end: 100px;
  }
}

@media screen and (min-width: global.$breakpoint-xl) {
  .section-container {
    padding-inline-start: 150px;
    padding-inline-end: 125px;
  }
}

@media screen and (min-width: global.$breakpoint-xxl) {
  .section-container {
    padding-inline-start: 180px;
    padding-inline-end: 150px;
    padding-top: 74px;
    padding-bottom: 74px;
  }
}
