@font-face {
  font-family: AppFont;
  src: url('https://use.typekit.net/af/f2b266/00000000000000007735fdb4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'obvia';
  src: url('https://use.typekit.net/af/44fcac/00000000000000007735bd18/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'obvia-expanded';
  src: url('https://use.typekit.net/af/2a0b2a/00000000000000007735bd08/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/2a0b2a/00000000000000007735bd08/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/2a0b2a/00000000000000007735bd08/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');

  font-display: auto;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
}

:root {
  /** primary **/
  --app-color-primary: #007aff;
  --app-color-primary-rgb: 0, 122, 255;
  --app-color-primary-contrast: #ffffff;
  --app-color-primary-contrast-rgb: 255, 255, 255;
  --app-color-primary-shade: #006be0;
  --app-color-primary-tint: #1a87ff;

  /** secondary **/
  --app-color-secondary: #66adfc;
  --app-color-secondary-rgb: 102, 173, 252;
  --app-color-secondary-contrast: #000000;
  --app-color-secondary-contrast-rgb: 0, 0, 0;
  --app-color-secondary-shade: #5a98de;
  --app-color-secondary-tint: #75b5fc;

  /** success **/
  --app-color-success: #10dc60;
  --app-color-success-rgb: 16, 220, 96;
  --app-color-success-contrast: #ffffff;
  --app-color-success-contrast-rgb: 255, 255, 255;
  --app-color-success-shade: #0ec254;
  --app-color-success-tint: #28e070;

  //** steam **/
  --app-color-steam: #f0f5fa;
  --app-color-steam-rgb: 240, 245, 250;
  --app-color-steam-contrast: #000000;
  --app-color-steam-contrast-rgb: 0, 0, 0;
  --app-color-steam-shade: #d3d8dc;
  --app-color-steam-tint: #f2f6fb;

  --app-color-foggy: #f8faff;
  --app-color-foggy-shade: #f8f8f8;

  /** warning **/
  --app-color-warning: #ffce00;
  --app-color-warning-rgb: 255, 206, 0;
  --app-color-warning-contrast: #ffffff;
  --app-color-warning-contrast-rgb: 255, 255, 255;
  --app-color-warning-shade: #e0b500;
  --app-color-warning-tint: #ffd31a;

  /** danger **/
  --app-color-danger: #f04141;
  --app-color-danger-rgb: 245, 61, 61;
  --app-color-danger-contrast: #ffffff;
  --app-color-danger-contrast-rgb: 255, 255, 255;
  --app-color-danger-shade: #d33939;
  --app-color-danger-tint: #f25454;

  /** dark **/
  --app-color-dark: #222428;
  --app-color-dark-rgb: 34, 34, 34;
  --app-color-dark-contrast: #ffffff;
  --app-color-dark-contrast-rgb: 255, 255, 255;
  --app-color-dark-shade: #1e2023;
  --app-color-dark-tint: #383a3e;

  /** light blue**/
  --app-color-light-blue: #7b8edb;
  --app-color-light-blue-rgb: 123, 142, 219;
  --app-color-light-blue-contrast: #000000;
  --app-color-light-blue-contrast-rgb: 0, 0, 0;
  --app-color-light-blue-shade: #6c7dc1;
  --app-color-light-blue-tint: #8899df;

  /** medium **/
  --app-color-medium: #8a8a8a;
  --app-color-medium-rgb: 138, 138, 138;
  --app-color-medium-contrast: #000000;
  --app-color-medium-contrast-rgb: 0, 0, 0;
  --app-color-medium-shade: #00000040;
  --app-color-medium-tint: #00000026;

  /** light **/
  --app-color-light: #f8faff;
  --app-color-light-rgb: 248, 250, 255;
  --app-color-light-contrast: #000000;
  --app-color-light-contrast-rgb: 0, 0, 0;
  --app-color-light-shade: #dadce061;
  --app-color-light-tint: #ffffff;

  /** light blue**/
  --app-color-light-blue: #7b8edb;
  --app-color-light-blue-rgb: 123, 142, 219;
  --app-color-light-blue-contrast: #000000;
  --app-color-light-blue-contrast-rgb: 0, 0, 0;
  --app-color-light-blue-shade: #6c7dc1;
  --app-color-light-blue-tint: #8899df;

  --edu-font-family: 'AppFont';
}

$breakpoint-xs: 0px;
$breakpoint-sm: 20em;
$breakpoint-ms: 36em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 75em;
$breakpoint-xxl: 87.5em;

$listItemRowGap: 0.7rem;
