<div class="section-container top-section-container">
  <div class="flex-container">
    <div class="col-7 col-s-12">
      <h1>The first provider of space systems,applications and services in Luxembourg</h1>

      <p>
        Since 2006 as part of the large network of OHB companies, LuxSpace is offering innovative and affordable
        infrastructure products and solutions for space, as well as space-augmented applications and services.
      </p>
    </div>

    <div class="text-center col-5 col-s-12">
      <svg-icon src="assets/images/svgs/planet.svg" [applyClass]="true" [class]="'planet'"></svg-icon>
    </div>
  </div>
</div>
